// ==============================
// Custom style
// 自定义样式
// ==============================

.header-wrapper {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0% !important;
  }

  @media only screen and (max-width: 1440px) {
    .header-wrapper {
      width: 56%;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .header-wrapper {
      width: 52%;
    }
  
  }
  
  @media only screen and (max-width: 960px) {
    
  
    .header-wrapper {
      width: 80%;
    }
  
  }
  
  @media only screen and (max-width: 680px) {
  
    .header-wrapper {
      width: 100%;
    }
  }
  
  .page {
    max-width: 600px !important;
  }

  .links > a {
    padding: 0 4px;
}

h6 {
  line-height: 0%;
}

.cc-banner {
  background-color: #252627 !important;
}

.cc-message {
  text-align: center;
  color: #a9a9b3 !important;
}

.cc-link {
  color: #fff !important;
}

// .single .content {
//   text-align: justify;
// }